---
import { Image } from 'astro:assets';
import CloudImage from '../../public/assets/cloud.svg';
import LazySpline from './LazySpline.astro';
---
<section class="bg-black text-white py-6 lg:py-12 overflow-hidden">
  <div class="w-full mx-auto px-8 lg:px-12">
    <div class="flex flex-col lg:flex-row items-center">
      <div class="w-full lg:w-1/2 mb-12 lg:mb-0 lg:pr-12">
        <p class="text-purple-500 text-xl mb-4 font-medium">03</p>
        <h2 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-8">Cloud</h2>
        <p class="text-lg md:text-xl text-gray-300 leading-relaxed">
            Our secure, scalable cloud infrastructure is designed for national resilience supporting mission-critical public services and smart city operations.
        </p>
      </div>
      
      <div class="w-full lg:w-1/2 relative">
        <div class="relative w-full aspect-square  overflow-hidden">
          <LazySpline splineUrl="https://prod.spline.design/ScgXJVmwTsyyKDfz/scene.splinecode" />
          <!-- <spline-viewer
            url="https://prod.spline.design/ScgXJVmwTsyyKDfz/scene.splinecode"
            class="w-full h-full "
          ></spline-viewer> -->
          
        </div>
      </div>
    </div>
  </div>
</section>

