---
import { Image } from 'astro:assets';
import techFirm from '../../public/assets/tech-firm-wave.svg';
---

<section class="bg-black text-white py-20 relative">
    <div class="container max-w-[1020px] mx-auto px-4">
  
      <div class="max-w-4xl mx-auto text-center mb-20">
        <p class="text-xl md:text-2xl lg:text-3xl leading-relaxed">
            At Infinia, we unify specialized tech firms to create secure, inclusive, and intelligent platforms that redefine how governments and societies interact with digital systems.
        </p>
      </div>
  
      <div class="max-w-[900px] mx-auto flex flex-wrap justify-center gap-10 md:gap-x-[100px] lg:gap-x-[120px] mb-20">

        <div class="flex justify-center gap-2 items-center">
          <p class="text-4xl md:text-5xl lg:text-6xl font-bold mb-2">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-blue-400">10+</span>
          </p>
          <p class="text-lg md:text-xl text-gray-300">Countries</p>
        </div>
  

        <div class="flex justify-center gap-2 items-center">
          <p class="text-4xl md:text-5xl lg:text-6xl font-bold mb-2">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-blue-500">500+</span>
          </p>
          <p class="text-lg md:text-xl text-gray-300">Employees</p>
        </div>
  
        <div class="flex justify-center gap-2 items-center">
          <p class="text-4xl md:text-5xl lg:text-6xl font-bold mb-2">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-cyan-400">6</span>
          </p>
          <p class="text-lg md:text-xl text-gray-300">Subsidiaries</p>
        </div>
      </div>
    </div>
  
    <div class="relative bottom-0 left-0 w-full">
      <Image 
        src={techFirm} 
        alt="Decorative wave" 
        class="w-full h-auto"
        format="svg"
      />
    </div>
  </section>