---
import ContactSpline from "./spline/ContactSpline";
---

<section>
  <section class="w-full bg-black text-white">
    <div class="w-full overflow-hidden">
      <!-- <ContactSpline client:only="react"  /> -->
      <spline-viewer url="https://prod.spline.design/AWrdajc2kHGHKQt5/scene.splinecode"></spline-viewer>
    </div>
  </section>
</section>


