---
import CoreValueSpline from "./spline/CoreValueSpline";
---

<section>
  <section class="w-full bg-black text-white">
    <div class="w-full overflow-hidden">
      <CoreValueSpline client:only="react"  />
    </div>
  </section>
</section>
