---
import FooterSpline from "./spline/FooterSpline";
---

<section>
  <section class="w-full bg-black text-white">
    <div class="w-full overflow-hidden">
      <!-- <FooterSpline client:only="react" /> -->
      <spline-viewer url="https://prod.spline.design/9MAyr4udHef2N7p4/scene.splinecode" ></spline-viewer> 
    </div>
  </section>
</section>
