---
import HeroSpline from './spline/HeroSpline';
---

<section>
  <section
    class="w-full bg-black text-white "
  >
  <div class="w-full h-full overflow-hidden">
    <!-- <HeroSpline client:only="react" /> -->
    <spline-viewer url="https://prod.spline.design/cdtnukmPpFdeLtoF/scene.splinecode"></spline-viewer>
  </div>
    <div class="container mx-auto text-center">
      <div class="flex flex-col items-center justify-center">
       
        <h1
          class="text-xl md:text-2xl lg:text-4xl font-bold tracking-wide mt-16"
        >
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 via-blue-500 to-green-400"
            >Powering</span
          >
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-400"
          >
            Sovereign</span
          >
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-yellow-300"
          >
            Digital</span
          >
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-300 to-green-300"
          >
            Futures</span
          >
        </h1>
      </div>
    </div>
  </section>
</section>
