---
import MissionSpline from "./spline/MissionSpline";
---

<section>
  <section class="w-full bg-black text-white">
    <div class="w-full overflow-hidden">
      <MissionSpline client:only="react"  />
    </div>
  </section>
</section>
