---
import { Image } from "astro:assets";
import aiRobot from "../../public/assets/ai-robot.svg";
import LazySpline from "./LazySpline.astro";
import LazySplineLoader from "../spline/LazySplineLoader.astro";
---

<section class="bg-black text-white py-6 lg:py-12 overflow-hidden">
  <div class="w-full mx-auto  lg:px-12">
    <div class="flex flex-col lg:flex-row-reverse items-center">
      <div class="w-full px-8 lg:w-1/2 mb-12 lg:mb-0 lg:pl-12">
        <p class="text-purple-500 text-xl mb-4 font-medium">02</p>
        <h2 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-6 md:mb-8">
          Artificial Intelligence
        </h2>
        <p class="text-lg md:text-xl text-gray-300 leading-snug">
          We power real-time decision-making and automation with AI-driven
          platforms for governance, healthcare, finance, and more boosting
          efficiency and insight.
        </p>
      </div>

      <div class="w-full lg:w-1/2 relative">
        <div class="relative w-full md:rounded-full aspect-square  overflow-hidden">
          <!-- <LazySpline splineUrl="https://prod.spline.design/J3SPthzRmtIw56JY/scene.splinecode" /> -->
          <LazySplineLoader splineUrl="https://prod.spline.design/J3SPthzRmtIw56JY/scene.splinecode" className="w-full h-full " />

          <!-- <spline-viewer
            url="https://prod.spline.design/J3SPthzRmtIw56JY/scene.splinecode"
            class="w-full h-full "
           
          ></spline-viewer> -->
          <!-- <div class="absolute inset-0 rounded-full bg-blue-500 opacity-20 blur-3xl -z-10"></div> -->
        </div>
      </div>
    </div>
  </div>
</section>


